{% extends 'base.html' %} 

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Home Page</h1>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome to My FlaskApp</h1>
        <p>This application is built on the flask framework. <code>.container</code>. For positioning of navbars, checkout the <a href="/docs/4.5/examples/navbar-static/">top</a> and <a href="/docs/4.5/examples/navbar-fixed/">fixed top</a> examples.</p>
        
        </p>
      </div>
    </div>
  </main>
{% endblock %}