{% extends 'base.html' %} 

{% block head %}
<title>Posts</title>
{% endblock %}



{% block body %}
<br>
<div>
    <h1 style="display: inline;">All Post</h1>
<a href="/posts/new" style="display: inline;" class="btn btn-success float-right">+ New Post</a>
</div>
<br>
<hr>

<p>
    {% for post in posts %}
        <h3>{{post.title}}</h3>

        {% if post.author %}
            <small>Written by: {{post.author}} on {{post.date_posted}} </small>
        {% else %}
            <small>Written by Unknown</small>
        {% endif %}

        <p style="white-space: pre-wrap;">{{post.content}}</p>

         <a href="/posts/delete/{{post.id}}" class="btn btn-danger" >Delete</a>
         <a href="/posts/edit/{{post.id}}" class="btn btn-primary" >Edit</a>
        <hr>
    {% endfor %}


</p>
{% endblock %}